/* neumorphic general styling */
.neu {
  color: white;
  font-size: 150%;
  line-height: 50px; /* same as height */
  margin: 10px;
  text-align: center;
  transition: all .5s ease;
  vertical-align: middle; /* align text in center */
}
.neu:hover {
  text-shadow: 0 0 5px white;
}



/* concave, convex, inset, outset, flat */
.concave {
  background: linear-gradient(135deg, rgba(0,0,0,0.2), rgba(255,255,255,0.3));
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.3),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
}
.concave:hover {
  background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(0,0,0,0.3));
}
.convex {
  background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(0,0,0,0.2));
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.3),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
}
.convex:hover {
  background: linear-gradient(135deg, rgba(0,0,0,0.2), rgba(255,255,255,0.3));
}
.inset {
  box-shadow:
    inset 3px 3px 4px 0 rgba(0,0,0,0.2),
    inset -2px -2px 3px 0 rgba(255,255,255,0.2);
}
.outset {
  box-shadow:
    inset 3px 3px 4px 0 rgba(255,255,255,0.2),
    inset -2px -2px 3px 0 rgba(0,0,0,0.2);
}
.flat {
  background: rgba(128,128,128,0.1);
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.3),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
}



/* in-out animations */
.shrink {
  transition: all .5s ease-in-out; /* for animation to work in reverse too */
}
.shrink:hover {
  transform: scale(0.9);
  transition: .5s;
}
.grow {
  transition: all .5s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  transition: .5s;
}
.spin {
  transition: all .5s ease-in-out;
}
.spin:hover {
  transform: rotate(360deg);
  transition: .5s;
}



.hr-bar {
  border: 2px solid rgb(255,255,255,0.2);
  border-radius: 2px;
  margin: 20px;
}



/* containers */
.chunk {
  display: flex;
  justify-content: center;
  margin: 20 auto;
  width: 100%;
}
.group {
  margin: auto;
}
.card {
  border-radius: 30px;
  margin: auto;
  padding: 5px;
}



/* shapes */
.circle {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.squircle {
  border-radius: 30%;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.pill {
  border-radius: 40px;
  height: 50px;
  min-width: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
.ring {
  border: 10px solid rgba(255,255,255,0.6);
  border-radius: 50%;
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.3),
    -8px -8px 12px 0 rgba(255,255,255,0.3),
    inset 3px 3px 4px 0 rgba(0,0,0,0.3),
    inset -2px -2px 3px 0 rgba(255,255,255,0.3);
  display: inline-block;
  height: 75px;
  line-height: 75px;
  width: 75px;
}
.ring:hover {
  border-color: rgba(255,255,255,0.8);
  box-shadow:
  0px 0px 20px rgba(255,255,255,0.8),
  inset 0px 0px 20px rgba(255,255,255,0.8); /* glowing effect */
}

.ring > img {
  border-radius: 50%;
  height: inherit;
  object-fit: cover; /* prevents stretching of image*/
  width: inherit;
}

.input-data {
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0.5));
  border-radius: 25px;
  border-width: 0px;
  height: 50px;
  width: 150px;
}
.input-data::placeholder {
  color: white;
}



/* photo-card */
.photo-card {
  border-radius: 30px;
  display: flex;
  height: 120px;
  width: 300px;
}
.photo-card > p {
  font-size: 20px;
  line-height: 100%;
  margin: auto;
  text-align: center;
}
.photo-card > p::after {
  color: #CFF;
  /* content: "\A Apr 21, 2021"; */
  content: "\A ════════════";
  font-size: 10px;
  line-height: 10%;
  white-space: pre-wrap;
}
.photo-card > img {
  align-self: flex-end;
  border-radius: inherit;
  height: inherit;
  object-fit: cover;
  width: 50%;
}
.photo-card > img:hover {
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.3),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
}
