@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: #75D2AF;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 20 auto;
}
hr {
  border: 2px solid rgb(255,255,255,0.2);
  border-radius: 2px;
  margin: 20px;
}