@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

::root {
  
}

body {
  background: #75AFD2;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  justify-content: center;
  margin: 50px;
}
hr {
  border: 2px solid rgb(255,255,255,0.2);
  border-radius: 2px;
}

.neuo {
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  font-size: 150%;
  justify-content: center;
  line-height: 50px; /* same as height */
  margin: auto;
  transition: all .5s ease-in-out;
  vertical-align: middle; /* align text in center */
}
.neuo:hover {
  background: linear-gradient(135deg, rgba(255,255,255,0.22), rgba(0,0,0,0.25));
  transform: scale(1.1);
  transition: .5s;
}
.squircle {
  border-radius: 30%;
  height: 50px;
  width: 50px;
}
.pill {
  border-radius: 40px;
  height: 50px;
  width: 100px;
}
.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}