@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

::root {}

body {
  background: #75D2AF;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 20 auto;
}
hr {
  border: 2px solid rgb(255,255,255,0.2);
  border-radius: 2px;
  margin: 20px;
}



/* neumorphic general styling */
.neu {
  color: white;
  font-size: 150%;
  line-height: 50px; /* same as height */
  margin: 10px;
  text-align: center;
  vertical-align: middle; /* align text in center */
}



/* concave and convex */
.concave {
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.25),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
  transition: all .5s ease-in-out; /* for animation to work in reverse too */
}
.concave:hover {
  background: linear-gradient(135deg, rgba(255,255,255,0.22), rgba(0,0,0,0.25));
}
.convex {
  background: linear-gradient(135deg, rgba(255,255,255,0.22), rgba(0,0,0,0.25));
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.25),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
  transition: all .5s ease-in-out;
}
.convex:hover {
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}



/* in-out animations */
.go-in:hover {
  transform: scale(0.9);
  transition: .5s;
}
.go-out:hover {
  transform: scale(1.1);
  transition: .5s;
}



/* inset, outset, flat */
.inset {
  box-shadow:
    inset 3px 3px 4px 0 rgba(0,0,0,0.1),
    inset -2px -2px 3px 0 rgba(255,255,255,0.2);
}
.outset {
  box-shadow:
    inset 3px 3px 4px 0 rgba(255,255,255,0.2),
    inset -2px -2px 3px 0 rgba(0,0,0,0.1);
}
.flat {
  background: rgba(128,128,128,0.1);
  box-shadow:
    12px 12px 16px 0 rgba(0,0,0,0.25),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
}



/* containers */
.chunk {
  display: flex;
  justify-content: center;
  margin: 20 auto;
  width: 100%;
}
.group {
  margin: auto;
}
.card {
  border-radius: 20px;
  margin: auto;
  padding: 5px;
}



/* shapes */
.circle {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.squircle {
  border-radius: 30%;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.pill {
  border-radius: 40px;
  height: 50px;
  width: 120px;
}